@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    display: swap;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2D3440;
    background-color: #FEAFC3;
}

/* Хедер */

.navigation-link {
    line-height: 20px;
    color: #2D3440;
    background-color: #FEAFC3;
    text-align: center;
    text-decoration: none;
}

.navigation-catalog-link {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    background-color: #FCFCFC;
    text-align: center;
    text-decoration: none;
}

.navigation-phone {
    font-weight: 700;
    line-height: 20px;
    color: #2D3440;
    background-color: #FEAFC3;
    text-align: center;
    text-decoration: none;
}

.navigation-button {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    background: rgba(252, 252, 252, 0.3);
}

/* Главный раздел */

/* Слайдер */

.slider-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
}

.slider-text {
    font-size: 18px;
    line-height: 24px;
}

.slider-link {
    font-weight: 700;
    color: #2D3440;
    background-color: #FCFCFC;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
}
