@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    display: swap;
}

html {
	height: 100%;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2D3440;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.title {
    margin: 0;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.body-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.body-pink {
    background-color: #FEAFC3;
}

/* Header */

.navigation {
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

.navigation-logo {
    width: 137px;
    margin-right: 16px;
}

.navigation-list {
    margin: 0;
    padding: 0;
    width: 400px;
}

.navigation-user {
    max-width: 440px;
    margin-left: auto;
}

.navigation-link {
    line-height: 20px;
    color: #2D3440;
    background-color: #FEAFC3;
    text-align: center;
    text-decoration: none;
}

.navigation-catalog-list {
    background-color: #FCFCFC;
}

.navigation-catalog-link {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    background-color: #FCFCFC;
    text-align: center;
    text-decoration: none;
}

.navigation-phone {
    font-weight: 700;
    line-height: 20px;
    color: #2D3440;
    background-color: #FEAFC3;
    text-align: center;
    text-decoration: none;
}

.navigation-button {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2D3440;
    background: rgba(252, 252, 252, 0.3);
}

/* Main */

.main-container {
    flex-grow: 1;
    width: 1170px;
    margin: 0 auto;
}

.page-container {
    /* width: 1170px;
    margin: 0 auto; */
}

/* Slider */

.slider-title {
    font-size: 36px;
}

.slider-list {
    margin: 0;
    padding: 0;
}

.slider-item {
    display: flex;
}

.slider-description {
    max-width: 470px;
    margin-left: 70px;
}

.slider-text {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
}

.slider-link {
    color: #2D3440;
    background-color: #FCFCFC;
    text-decoration: none;
}

.slider-buttons-list {
    margin: 0;
    padding: 0;
}

.slider-pagination-list {
    margin: 0;
    padding: 0;
}

.slider-social-list {
    margin: 0;
    padding: 0;
}

/* Banners */

.banners-title {
    text-align: center;
}

.banners-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.banners-item {
    width: 570px;
    background-color: #FF7799;
}

.banner-one {
    background-image: url(../images/main/banner-1.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
}

.banner-two {
    background-image: url(../images/main/banner-2.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
}

.banner-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.banner-text {
    margin: 0;
}

.banner-link {
    background-color: #FCFCFC;
    color: #2D3440;
    text-decoration: none;
}

/* Popular products */

.popular-products-title {
    text-align: center;
}

.popular-products-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.popular-product-item {
    background-color: #FCFCFC;
    max-width: 270px;
}

.product-image {
    display: block;
    margin: 0 auto;
}

.product-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.product-text {
    margin: 0;
    color: #565C66;
    text-align: center;
}

.product-price {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
}

/* Ours features */

.ours-features {
    background-color: #FCFCFC;
    background-image: url(../images/main/waffle.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.ours-features-list {
    margin: 0;
    padding: 0;
    display: flex;
}

.ours-features-title {
    text-align: center;
}

.ours-features-text {
    margin: 0;
    color: #565C66;
}

/* Sections-wrapper for Blog and Subscribe */

.sections-wrapper {
    display: flex;
    justify-content: space-between;
}

/* Blog */

.blog {
    background-color: #FCFCFC;
    background-image: url(../images/main/blog.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 570px;
}

.blog-text {
    margin: 0;
    line-height: 20px;
    color: #565C66;
}

.blog-link {
    color: #2D3440;
    background-color: #FCFCFC;
    text-align: center;
    text-decoration: none;
}

.blog-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
}

/* Subscribe */

.subscribe {
    background-color: #FFFFFF;
    background-image: url(../images/main/subscribe.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 570px;
}

.subscribe-text {
    margin: 0;
    color: #565C66;
}

.subscribe-field {
    font-size: 16px;
    line-height: 20px;
    color: #B9B9B9;
    background-color: #FFFFFF;
}

.subscribe-button {
    color: #FCFCFC;
    background-color: #FF2F64;
}

/* Delivery */

.delivery {
    display: flex;
    background-color: #FCFCFC;
    background-image: url(../images/main/delivery.jpeg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.delivery-text-wrapper {
    max-width: 371px;
    margin-left: 100px;
}

.delivery-form-wrapper {
    max-width: 500px;
    margin-right: 64px;
    margin-left: auto;
}

.delivery-form {
    background-color: #FCFCFC;
}

.delivery-text {
    margin: 0;
    color: #565C66;
}

.delivery-form-data {
    margin: 0;
}

.delivery-form-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.delivery-form-field {
    font-size: 16px;
    line-height: 20px;
    color: #B9B9B9;
}

.delivery-form-button {
    color: #FCFCFC;
    background-color: #FF2F64;
}

/* Contacts */

.contacts {
    display: flex;
    flex-direction: column;
    background-color: #FCFCFC;
    background-image: url(../images/main/contacts.jpeg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.contacts-wrapper {
    background-color: #FCFCFC;
    max-width: 350px;
    margin-left: 64px;
}

.contacts-address {
    font-style: normal;
}

.contacts-text {
    margin: 0;
    color: #565C66;
}

.contacts-address-place {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.contacts-address-phone {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
    background-color: #FCFCFC;
    text-align: center;
    text-decoration: none;
}

.contacts-time {
    font-size: 14px;
    line-height: 20px;
}

.contacts-button {
    color: #FCFCFC;
    background-color: #FF2F64;
}

/* Footer */

.page-footer {
    width: 1170px;
    margin: 0 auto;
    display: flex;
}

/* Footer social */

.footer-social {
    max-width: 120px;
    margin-right: 299px;
}

.footer-social-list {
    margin: 0;
    padding: 0;
}

/* Footer menu */

.footer-menu {
    width: 356px;
}

.footer-menu-list {
    margin: 0;
    padding: 0;
}

.footer-menu-link {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    background-color: #FEAFC3;
    text-align: center;
    text-decoration: none;
}

.footer-menu-item:first-child {
    font-weight: 700;
}

/* footer html academy */

.footer-htmlacademy {
    max-width: 195px;
    margin-left: auto;
    margin-right: 14px;
}

.footer-who-did-it {
    font-size: 12px;
    line-height: 16px;
}

.footer-htmlacademy-link {
    font-size: 12px;
    line-height: 16px;
    color: #2D3440;
    background-color: #FEAFC3;
    text-align: center;
}
